<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/js/app.js"></script>
</head>
<body>
<h1>Hello World!</h1>
<% if (errors.length) { %>
  <% for (const error of errors) { %>
    <p>Error: <%= error %></p>
  <% } %>
<% } %>
<% if (loggedIn) { %>
  <p>You are logged in!</p>
  <p>You have clicked the button <span id="counter"><%= counter %></span> times.</p>
  <button id="clickMe">Click Me!</button><br>
  <form method="post" action="/logout">
    <button>Sign Out</button>
  </form>
<% } else { %>
  <form method="post" action="/login">
    <p>
      <label for="email_field">Email</label>
      <input id="email_field" name="user[email]">
    </p>
    <p>
      <label for="password_field">Password</label>
      <input id="password_field" type="password" name="user[password]">
    </p>
    <p>
      <button>Sign In</button>
    </p>
  </form>
<% } %>
</body>
</html>
